.site-header-contact a,
.site-header-contact a:hover,
.top-section,
.menu-bar,
.search-open,
.about-more a,
.about-more a:hover,
.arrow-box,
.about-social,
.progress-bar > span,
.portfolio-content figcaption,
.blog-more a,
.blog-more a:hover,
.timeline-time,
.testimonial-data,
.pricing-title,
.pricing-price,
.pricing-order a,
.pricing-order a:hover,
.c-info span:first-of-type,
.contact-map-btn,
.contact-form button[type="submit"],
.footer,
.back-to-top,
.back-to-top:hover,
.comment-form button,
.comment-form button:hover,
.single-portfolio-share a,
.single-portfolio-share a:hover,
.owl-theme .owl-controls .owl-page span{
    background-color: rgb(31, 86, 148);
}

.site-logo a,
.main-nav ul li a:hover,
.main-nav ul li a.active-nav,
.section-title,
.block-title,
.blog-title a:hover,
.blog-data a,
.overview-name span,
.timeline-badge > a,
.timeline-title,
.filter li a:hover,
.filter li a.active,
.testimonial-content p::before,
.testimonial-content p::after,
.input-field input:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label,
.comment-data a:hover,
.comment-reply a,
.related-post-title a:hover,
.related-post-author a,
.archive-content a:hover,
.category-content a:hover,
.single-portfolio-rating,
.color-scheme-select-btn{
    color: rgb(31, 86, 148);
}

blockquote,
.preloader .spinner-layer,
.input-field input:focus:not([readonly]),
.input-field textarea:focus:not([readonly]),
.color-scheme-select,
.color-scheme-select-btn{
    border-color: rgb(31, 86, 148);
}

.arrow-box::before,
.timeline-time::before{
    border-left-color: rgb(31, 86, 148);
}

.input-field input:focus:not([readonly]),
.input-field textarea:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 rgb(31, 86, 148);
    -moz-box-shadow: 0 1px 0 0 rgb(31, 86, 148);
    box-shadow: 0 1px 0 0 rgb(31, 86, 148);
}
