  /* =======================================================
	Template Name : Tile
	Version       :  1.0
	Author        :  Md. Junaid Khan Pathan
	Author URI    :  http://themeforest.net/user/JunaidHira

====================================================

	Table of Content:
	==================

	1. General Styling & Typography
	2. Preloader
	3. Header
	4. Overview Section
	5. Skill Section
	6. Timeline Section
	7. Portfolio Section
	8. Blog Section
	9. Testimonial Section
	10. Pricing Section
	11. Contact Section
	12. Google Map
	13. Back To Top
	14. Footer
	15. Single Blog Page
	16. Single Portfolio Page
	17. Color Scheme Selector

======================================================== */

/* =============================================
  0. Custom Styles
============================================= */

.help-block{
  margin-top: 8px;
  color: #b51c1c;
  display: block;
}

.bg-success{
    padding: 17px;
    background: #5cb85c;
    margin-bottom: 25px;
    border-radius: 3px;
    color: #443e3e;
}

.bg-danger{
    padding: 17px;
    background: #ee6e73;
    margin-bottom: 25px;
    border-radius: 3px;
    color: #443e3e;
}

.back-white{
    background-color: white !important;
}

.back-link{
  background-color: #069 !important;
}

.back-face{
  background-color: #3B579D !important;
}

.back-twitter{
  background-color: #5EA9DD !important;
}

.github{
    color: #323131 !important;
}

.bitbucket{
    color: #1F5081 !important;
}

.secondary-social{
    margin: 0 34px 0 33px;
}

/* =============================================
	1. General Styling & Typography
 ============================================= */

::-webkit-input-placeholder{
	color: #888888 !important;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

:-moz-placeholder{
	color: #888888 !important;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

::-moz-placeholder{
	color: #888888 !important;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

:-ms-input-placeholder{
	color: #888888 !important;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

:disabled{
	cursor: not-allowed !important;
	opacity: 0.7;
}

input:hover::-webkit-input-placeholder {color: #666666 !important;}
input:hover:-moz-placeholder{color: #666666 !important;}
input:hover::-moz-placeholder {color: #666666 !important;}
input:hover:-ms-input-placeholder{color: #666666 !important;}
textarea:hover::-webkit-input-placeholder {color: #666666 !important;}
textarea:hover:-moz-placeholder{color: #666666 !important;}
textarea:hover::-moz-placeholder {color: #666666 !important;}
textarea:hover:-ms-input-placeholder{color: #666666 !important;}

.ff-roboto{font-family: 'Roboto', 'Sans Serif'  !important;}
.fs-italic{font-style: italic; !important;}
.fs-normal{font-style: normal; !important;}
.ps-relative{position: relative !important;}
.ps-absolute{position: absolute !important;}
.ps-fixed{position: fixed !important;}
.al-left{text-align: left !important;}
.al-right{text-align: right !important;}
.al-center{text-align: center !important;}
.fl-left{float: left !important;}
.fl-right{float: right !important;}
.tt-uppercase{text-transform: uppercase !important;}
.ds-none{display: none !important;}
.ds-block{display: block !important;}
.ds-inline-block{display: inline-block !important;}
.vs-hidden{visibility: hidden !important;}
.vs-visible{visibility: visible !important;}

.clearfix::after{
	clear: both;
	display: inline-block;
	content: '.';
	height: 0;
	visibility: hidden;
}

.pd-0{padding: 0 !important;}
.pd-5{padding: 5px !important;}
.pd-10{padding: 10px !important;}
.pd-15{padding: 15px !important;}
.pd-20{padding: 20px !important;}
.pd-30{padding: 30px !important;}
.pd-40{padding: 40px !important;}
.pd-50{padding: 50px !important;}
.pd-60{padding: 60px !important;}
.pd-70{padding: 70px !important;}
.pd-80{padding: 80px !important;}
.pd-90{padding: 90px !important;}
.pd-100{padding: 100px !important;}
.pdt-0{padding-top: 0 !important;}
.pdt-5{padding-top: 5px !important;}
.pdt-10{padding-top: 10px !important;}
.pdt-15{padding-top: 15px !important;}
.pdt-20{padding-top: 20px !important;}
.pdt-30{padding-top: 30px !important;}
.pdt-40{padding-top: 40px !important;}
.pdt-50{padding-top: 50px !important;}
.pdt-100{padding-top: 100px !important;}
.pdr-0{padding-right: 0 !important;}
.pdr-5{padding-right: 5px !important;}
.pdr-10{padding-right: 10px !important;}
.pdr-15{padding-right: 15px !important;}
.pdr-20{padding-right: 20px !important;}
.pdr-30{padding-right: 30px !important;}
.pdr-40{padding-right: 40px !important;}
.pdr-50{padding-right: 50px !important;}
.pdr-60{padding-right: 60px !important;}
.pdr-70{padding-right: 70px !important;}
.pdr-80{padding-right: 80px !important;}
.pdr-90{padding-right: 90px !important;}
.pdr-100{padding-right: 100px !important;}
.pdb-0{padding-bottom: 0 !important;}
.pdb-5{padding-bottom: 5px !important;}
.pdb-10{padding-bottom: 10px !important;}
.pdb-15{padding-bottom: 15px !important;}
.pdb-20{padding-bottom: 20px !important;}
.pdb-30{padding-bottom: 30px !important;}
.pdb-40{padding-bottom: 40px !important;}
.pdb-50{padding-bottom: 50px !important;}
.pdb-60{padding-bottom: 60px !important;}
.pdb-70{padding-bottom: 70px !important;}
.pdb-80{padding-bottom: 80px !important;}
.pdb-90{padding-bottom: 90px !important;}
.pdb-100{padding-bottom: 100px !important;}
.pdl-0{padding-left: 0 !important;}
.pdl-5{padding-left: 5px !important;}
.pdl-10{padding-left: 10px !important;}
.pdl-15{padding-left: 15px !important;}
.pdl-20{padding-left: 20px !important;}
.pdl-30{padding-left: 30px !important;}
.pdl-40{padding-left: 40px !important;}
.pdl-50{padding-left: 50px !important;}
.pdl-60{padding-left: 60px !important;}
.pdl-70{padding-left: 70px !important;}
.pdl-80{padding-left: 80px !important;}
.pdl-90{padding-left: 90px !important;}
.pdl-100{padding-left: 100px !important;}

.mg-0{margin: 0 !important;}
.mg-5{margin: 5px !important;}
.mg-10{margin: 10px !important;}
.mg-15{margin: 15px !important;}
.mg-20{margin: 20px !important;}
.mg-30{margin: 30px !important;}
.mg-40{margin: 40px !important;}
.mg-50{margin: 50px !important;}
.mg-60{margin: 60px !important;}
.mg-70{margin: 70px !important;}
.mg-80{margin: 80px !important;}
.mg-90{margin: 90px !important;}
.mg-100{margin: 100px !important;}
.mg-120{margin: 120px !important;}
.mg-130{margin: 130px !important;}
.mg-150{margin: 150px !important;}
.mg-200{margin: 200px !important;}
.mgt-0{margin-top: 0 !important;}
.mgt-5{margin-top: 5px !important;}
.mgt-10{margin-top: 10px !important;}
.mgt-15{margin-top: 15px !important;}
.mgt-20{margin-top: 20px !important;}
.mgt-30{margin-top: 30px !important;}
.mgt-40{margin-top: 40px !important;}
.mgt-50{margin-top: 50px !important;}
.mgt-60{margin-top: 60px !important;}
.mgt-70{margin-top: 70px !important;}
.mgt-80{margin-top: 80px !important;}
.mgt-90{margin-top: 90px !important;}
.mgt-100{margin-top: 100px !important;}
.mgt-120{margin-top: 120px !important;}
.mgt-130{margin-top: 130px !important;}
.mgt-150{margin-top: 150px !important;}
.mgt-200{margin-top: 200px !important;}
.mgr-0{margin-right: 0 !important;}
.mgr-5{margin-right: 5px !important;}
.mgr-10{margin-right: 10px !important;}
.mgr-15{margin-right: 15px !important;}
.mgr-20{margin-right: 20px !important;}
.mgr-30{margin-right: 30px !important;}
.mgr-40{margin-right: 40px !important;}
.mgr-50{margin-right: 50px !important;}
.mgr-60{margin-right: 60px !important;}
.mgr-70{margin-right: 70px !important;}
.mgr-80{margin-right: 80px !important;}
.mgr-90{margin-right: 90px !important;}
.mgr-100{margin-right: 100px !important;}
.mgr-120{margin-right: 120px !important;}
.mgr-130{margin-right: 130px !important;}
.mgr-150{margin-right: 150px !important;}
.mgr-200{margin-right: 200px !important;}
.mgb-0{margin-bottom: 0 !important;}
.mgb-5{margin-bottom: 5px !important;}
.mgb-10{margin-bottom: 10px !important;}
.mgb-15{margin-bottom: 15px !important;}
.mgb-20{margin-bottom: 20px !important;}
.mgb-30{margin-bottom: 30px !important;}
.mgb-40{margin-bottom: 40px !important;}
.mgb-50{margin-bottom: 50px !important;}
.mgb-60{margin-bottom: 60px !important;}
.mgb-70{margin-bottom: 70px !important;}
.mgb-80{margin-bottom: 80px !important;}
.mgb-90{margin-bottom: 90px !important;}
.mgb-100{margin-bottom: 100px !important;}
.mgb-120{margin-bottom: 120px !important;}
.mgb-130{margin-bottom: 130px !important;}
.mgb-150{margin-bottom: 150px !important;}
.mgb-200{margin-bottom: 200px !important;}
.mgl-0{margin-left: 0 !important;}
.mgl-5{margin-left: 5px !important;}
.mgl-10{margin-left: 10px !important;}
.mgl-15{margin-left: 15px !important;}
.mgl-20{margin-left: 20px !important;}
.mgl-30{margin-left: 30px !important;}
.mgl-40{margin-left: 40px !important;}
.mgl-50{margin-left: 50px !important;}
.mgl-60{margin-left: 60px !important;}
.mgl-70{margin-left: 70px !important;}
.mgl-80{margin-left: 80px !important;}
.mgl-90{margin-left: 90px !important;}
.mgl-100{margin-left: 100px !important;}
.mgl-120{margin-left: 120px !important;}
.mgl-130{margin-left: 130px !important;}
.mgl-150{margin-left: 150px !important;}
.mgl-200{margin-left: 200px !important;}

.br-3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.br-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.br-10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

html, body{
	height: 100%;
	line-height: 1;
	color: #555555;
	background-color: #e6e6e6;
	font-family: 'Roboto', 'Sans Serif' !important;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Roboto', 'Sans Serif' !important;
	margin: 0;
}

h1{
    font-size: 42px;
    line-height: 50px;
	font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-size: 36px;
    line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
}

h3{
    font-size: 28px;
    line-height: 36px;
}

h4{
    font-size: 22px;
    line-height: 32px;
}

h5{
    font-size: 18px;
    line-height: 28px;
}

h6{
    font-size: 14px;
    line-height: 24px;
}

p{
	font-family: 'Roboto', 'Sans Serif' !important;
	font-size: 15px;
	line-height: 24px;
	color: #888888;
	font-weight: 400;
	margin-bottom: 0;
}

a{
    text-decoration: none !important;
	outline: 0 !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

img{
	width: 100%;
	vertical-align: bottom;
}

blockquote{
	line-height: 26px;
	margin: 30px 10px;
}

ol, ul{
	padding: 0 0 0 25px;
	margin: 0;
}

ol li, ul li{
	line-height: 30px;
	font-size: 14px;
}

ol ol, ul ul, ol ul, ul ol{
	padding: 0 0 0 30px;
}

ol.ff-roboto-cn li, ul.ff-roboto-cn li{
	line-height: 30px;
	font-size: 16px;
}

.shadow-change{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.section-title{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin: 80px 0 50px;
}

.w-block{
	background-color: #ffffff;
}


/* =============================================
	2. Preloader
 ============================================= */

.preloader{
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 100%;
	z-index: 11111111;
}

.preloader-inner{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* =============================================
	3. Header
 ============================================= */

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111;
	background: #ffffff;
	padding: 0 50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.header-visibile{
	top: 0;
	opacity: 1;
	visibility: visible;
}

.header-hidden{
	top: -60px;
	opacity: 0;
	visibility: hidden;
}

.site-logo{
	float: left;
}

.site-logo a{
	line-height: 60px;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3px;
}

.main-nav{
	float: right;
	display: block;
	z-index: 11111111;
	background-color: #ffffff;
	width: initial;
	height: 60px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.main-nav ul{
	list-style: none;
	padding: 0;
	background: #ffffff;
}

.main-nav ul li{
	float: left;
	position: relative;
	line-height: 60px;
}

.main-nav ul li:hover{
	background-color: transparent;
}

.main-nav ul li a{
	color: #666666;
	display: inline-block;
	padding: 0 10px;
	width: 100%;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.menu-bar{
	display: none;
	margin-left: 20px;
}

.menu-bar, .search-open{
	margin-top: 13px;
	margin-left: 10px;
	width: 34px;
	height: 34px;
	color: #ffffff;
	text-align: center;
	float: right;
	font-size: 11px;
	cursor: pointer;
	line-height: 35px;
}

.search-area{
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	padding: 0 50px;
	width: 100%;
	background: #ffffff;
	z-index: 111111;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.search-area-hidden{
	top: -60px;
	opacity: 0;
}

.search-area-visibile{
	top: 0;
	opacity: 1;
}

.search-input{
	float: left;
	width: 100%;
}

.search-input fieldset{
	margin: 0;
	padding: 0;
	border: 0 !important;
}

.search-input input[type="search"]{
	height: 60px;
	width: 100%;
	font-size: 28px;
	line-height: 60px;
	font-weight: 700;
	border: 0 !important;
	margin: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.top-section{
	height: 400px;
}

.site-header{
	padding-top: 60px;
}

.site-header-title{
	color: #ffffff;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.site-header-title span{
	display: block;
	font-size: 20px;
	text-transform: none;
	font-weight: 400;
	padding-top: 8px;
	letter-spacing: 0;
}

.site-header-contact{
	text-align: right;
	margin-top: 12px;
}

.site-header-contact a{
	display: inline-block;
	margin: 0 0 0 10px;
	color: #ffffff;
	text-align: center;
}


/* =============================================
	4. Overview Section
 ============================================= */
.about-section{
	margin-top: -200px;
}

.about-more{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.about-img:hover .about-more{
	opacity: 1;
	visibility: visible;
}

.about-more-content{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.arrow-box{
	display: inline-block;
	padding: 7px 15px;
	color: #ffffff;
	margin-bottom: 20px;
	font-size: 14px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.arrow-box::before{
	content: '';
	position: absolute;
    background: transparent;
	display: inline-block;
    width: 0;
    height: 0;
	bottom: -10px;
	right: 0;
	border: 10px solid;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.overview-name{
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
}

.overview-name span{
	font-weight: 700;
}

.overview-title{
	font-size: 18px;
	padding: 10px 0 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.overview-data > div{
	margin-top: 15px;
}

.overview-data > div > span{
	width: 80px;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
}

.about-social{
	width: 100%;
	height: 75px;
	line-height: 75px;
}

.about-social a{
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	display: inline-block;
}

.about-social a:hover{
	color: rgba(0, 0, 0, 0.5);
}



/* =============================================
	5. Skill Section
 ============================================= */

.progress-bar-wrapper{
	margin-top: 20px;
}

.progress-bar-wrapper:first-of-type{
	margin-top: 0;
}

.progress-text{
    margin-bottom: 5px;
	font-size: 15px;
    color: #555555;
	text-align: left;
}

.progress-text span {
    float: right;
	text-align: right;
}

.progress-bar{
    position: relative;
    height: 3px;
    background: #e6e6e6;
    width: 100%;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0 ;
}

.progress-bar > span{
    width: 0%;
    display: block;
    height: 100%;
}


/* =============================================
	6. Timeline Section
 ============================================= */
.timeline{
    list-style: none;
    padding: 0;
	margin: 0;
    position: relative;
}

.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
}

.timeline > li{
    margin-top: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:first-of-type{
	margin-top: 0 !important;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline-panel{
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    background: #ffffff;
    position: relative;
}

.timeline-panel:before{
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content:" ";
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}

.timeline-badge{
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel{
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-inverted{
    float: right;
    clear: right;
}

.timeline > li:nth-of-type(2){
    margin-top: 50px;
}

.timeline > li.timeline-inverted > .timeline-badge{
    left: -12px;
}

.no-float {
    float: none !important;
}

.timeline-title{
	font-size: 20px;
	font-weight: 500;
}

.timeline-tag{
	font-size: 13px;
	font-weight: 500;
	padding: 3px 0;
	color: #666666;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.timeline-desc{
	padding-bottom: 8px;
}

.timeline-time{
	display: inline-block;
	padding: 0 15px;
	color: #ffffff;
	margin-top: 10px;
	font-size: 13px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.timeline-time::before{
	content: '';
	position: absolute;
    background: transparent;
	display: inline-block;
    width: 0;
    height: 0;
	top: -10px;
	right: 0;
	border: 10px solid;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* =============================================
	7. Portfolio Section
 ============================================= */
.portfolio-wrapper{
	text-align: center;
}

.filter{
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: -15px;
	text-align: center;
}

.filter li{
	display: inline-block;
	overflow: hidden;
}

.filter li a{
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
    color: #666666;
	display: inline-block;
	padding: 0 5px;
    letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 10px;
}

.portfolio-items{
	width: 100%;
	padding-left: 0px !important;
}

.portfolio-items figure{
	margin: 0;
	overflow: hidden;
}

.portfolio-content{
	float: left;
	position: relative;
	overflow: hidden;
	list-style: none;
}

.portfolio-content{
	width: 33.33%;
	margin: 0;
}

.portfolio-content img{
	width: 100%;
	display: block;
	position: relative;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.portfolio-content:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.portfolio-content figcaption{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(100% + 1px);
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.portfolio-content:hover.portfolio-content figcaption{
	opacity: 1;
}

.portfolio-intro{
	text-align: center;
	position: absolute;
	width: 100%;
	padding: 0px 5%;
	top: 50%;
	left: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
    -moz-transform: translate(-50%, -50% scale(0.5));
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

.portfolio-intro-title{
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 5px 0 2px;
}

.portfolio-intro-category p{
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	margin: 0 2px;
}

.portfolio-intro-category p::after{
	content: '';
	display: inline-block;
	margin-left: 8px;
	vertical-align: 2px;
	width: 5px;
	height: 5px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.portfolio-intro-category p:last-of-type::after{
	display: none;
}

.portfolio-intro a{
	color: rgba(255, 255, 255, 1) ;
	margin: 5px;
	font-size: 24px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.portfolio-intro a:hover{
	color: rgba(0, 0, 0, 0.5) !important;
}

.portfolio-content figcaption:hover .portfolio-intro{
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}

.isotope-item{
    z-index: 2;
	left: 0 !important;
	top: 0 !important;
}

.isotope-hidden.isotope-item{
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.isotope{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item{
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:-moz-transform, opacity;
    transition-property:transform, opacity;
}


/* =============================================
	8. Blog Section
 ============================================= */
.blog-wrapper{
	margin-bottom: 30px;
}

.blog-wrapper:last-of-type{
	margin-bottom: 0 !important;
}

.blog-img{
	height: 100%;
}

.blog-title a{
	font-weight: 700;
	font-size: 20px;
	color: #555555;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: inline-block;
}

.blog-data a{
	font-size: 13px;
	display: inline-block;
	padding: 5px 10px;
}

.blog-data a:first-of-type{
	margin-left: -10px;
}

.blog-data a span{
	padding-right: 5px;
}

.blog-content{
	padding: 10px 0;
}

.blog-more a{
	display: inline-block;
	color: #ffffff;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 1px;
}


/* =============================================
	9. Testimonial Section
 ============================================= */
.testimonial-content{
	padding: 35px;
}

.testimonial-data{
	padding: 25px 35px;
}

.testimonial-quote{
	font-size: 32px;
}

.testimonial-content p{
	line-height: 28px;
}

.testimonial-content p::before,
.testimonial-content p::after{
	font-family: FontAwesome;
	display: inline-block;
	font-size: 22px;
	vertical-align: -3px;
}

.testimonial-content p::before{
	content: "\f10d";
	padding-right: 5px;
}

.testimonial-content p::after{
	content: "\f10e";
	padding-left: 5px;
}

.testimonial-name{
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.testimonial-title{
	font-size: 14px;
	color: #ffffff;
	padding-top: 5px;
}

.testimonial-img{
	max-width: 70px;
	float: right;
	margin-top: -95px;
}

.testimonial-img img{
	border-radius: 100px;
}


/* =============================================
	10. Pricing Section
 ============================================= */
.pricing-wrapper{
	text-align: center;
}

.pricing-title{
	font-weight: 400;
	font-size: 24px;
	padding: 30px 0;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1px;
}

.pricing-data{
	padding: 15px 0;
}

.pricing-data p{
	padding: 8px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.pricing-data p:last-of-type{
	border: 0 !important;
}

.pricing-data p span{
	position: absolute;
	display: inline-block;
	padding: 0 10px;
	line-height: 20px;
	margin-left: 15px;
	margin-top: 2px;
	font-size: 10px;
	background-color: #EB3941;
	color: #ffffff;
	border-radius: 2px;
}

.pricing-price{
	padding: 25px 0;
	color: #ffffff;
	font-size: 32px;
	font-weight: 300;
}

.pricing-price span:first-of-type{
	font-size: 14px;
	padding-right: 3px;
}

.pricing-price span:last-of-type{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
}

.pricing-order{
	float: right;
	margin-top: -125px;
	margin-right: 25px;
}

.pricing-order a{
	font-size: 20px;
}


/* =============================================
	11. Contact Section
 ============================================= */
.contact-data > div{
	position: relative;
}

.contact-data .arrow-box{
	margin-bottom: 20px;
	font-size: 16px;
}

.c-info{
	position: relative;
	margin-bottom: 10px;
}

.c-info span:first-of-type{
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.c-info span:last-of-type{
	position: absolute;
	font-size: 16px;
	color: #666666;
	line-height: 24px;
	padding-left: 10px;
	line-height: 35px;
}

.contact-map-btn{
	height: 55px;
	line-height: 55px;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.contact-map-btn span{
	font-size: 20px;
	padding-right: 5px;
	vertical-align: -1px;
}

.c-form fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

.c-form input{
	height: 40px;
	margin: 0;
}

.c-form input,
.c-form textarea{
	border-color: rgba(0, 0, 0, 0.15);
}

.c-form label{
	left: 0;
}

.contact-form button[type="submit"]{
	height: 38px;
	line-height: 38px;
	margin-top: 8px;
	font-size: 14px;
	letter-spacing: 1px;
}

.c-form-alert{
	display: inline-block;
	position: absolute;
	text-transform: uppercase;
	font-size: 13px;
	bottom: 12px;
	right: 0;
	font-weight: 500;
}

.c-form-success{
	color: #36A367 !important;
}

.c-form-error{
	color: #E33131 !important;
}


/* =============================================
	12. Google Map
 ============================================= */
.g-map-wrapper{
	position: absolute;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	transform: scale(0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.g-map-visible{
	opacity: 1 !important;
	visibility: visible !important;
	transform: scale(1) !important;
}

#g-map{
	width: 100%;
	height: 100%;
}

#mapcontent{
	width: 100px;
	font-size: 12px;
	line-height: 26px;
	font-weight: 700;
}


/* =============================================
	13. Back To Top
 ============================================= */

.back-to-top{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	color: #ffffff;
	margin-top: -100px;
}


/* =============================================
	14. Footer
 ============================================= */

.footer{
	width: 100%;
	text-align: center;
	margin-top: 100px;
	padding: 40px 0 20px;
}

.social-links a{
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: #ffffff;
	font-size: 20px;
}

.social-links a:hover{
	color: rgba(0, 0, 0, 0.5);
}


/* =============================================
	15. Single Blog Page
 ============================================= */
.single-blog-section{
	margin-top: -200px;
}

.single-blog-title{
	font-size: 28px;
	font-weight: 500;
	padding-bottom: 10px;
}

.single-blog-data{
	margin-bottom: 20px;
}

.single-blog-content img{
	margin: 25px 0;
}

.comment-title{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.comment-content{
	position: relative;
	margin-bottom: 20px;
}

.comment-content:last-of-type{
	margin-bottom: 0 !important;
}

.comment-img{
	position: absolute;
}

.comment-img img{
	max-width: 70px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.comment-data{
	margin-left: 80px;
}

.comment-data a{
	font-size: 16px;
	font-weight: 500;
	color: #555555;
	display: inline-block;
	margin-top: 15px;
}

.comment-data span{
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

.comment-desc{
	margin-top: 30px;
}

.comment-reply{
	float: right;
	margin: 10px 0 20px;
}

.comment-reply a{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.comment-reply a span{
	padding-right: 5px;
}

.comment-form{
	margin-top: 10px;
}

.comment-form fieldset{
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.comment-form input,
.comment-form textarea{
	border-color: rgba(0, 0, 0, 0.15);
}

.comment-form label{
	left: 0;
}

.comment-form button{
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	padding: 0 16px;
	float: right;
	margin-top: 15px;
}

.single-sidebar{
	margin-bottom: 50px;
}

.single-sidebar:last-of-type{
	margin-bottom: 0;
}

.sidebar-title{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
	padding-bottom: 15px;
}

.author-content img{
	max-width: 70px;
	position: absolute;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.author-data{
	margin-left: 85px;
	font-size: 16px;
    font-weight: 500;
    color: #555555;
    display: inline-block;
    margin-top: 15px;
}

.author-data span{
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

.author-content p{
	margin-top: 25px;
}

.related-post-single{
	margin-top: 25px;
}

.related-post-single:first-of-type{
	margin-top: 25px;
}

.related-post-single{
	position: relative;
}

.related-post-img{
	position: absolute;
}

.related-post-img img{
	max-width: 60px;
}

.related-post-title,
.related-post-author{
	margin-left: 70px;
}

.related-post-title a{
	color: #666666;
	font-weight: 500;
	line-height: 22px;
}

.related-post-author{
	margin-top: 5px;
}

.related-post-author a{
	font-size: 13px;
	font-weight: 500;
}

.related-post-author a span{
	padding-right: 5px;
}

.archive-content a,
.category-content a{
	display: block;
	line-height: 30px;
	font-size: 15px;
	color: #666666;
}

.archive-content a::before,
.category-content a::before{
	font-family: FontAwesome;
	content: "\f105";
	padding-right: 5px;
}


/* =============================================
	16. Single Portfolio Page
 ============================================= */
.single-portfolio-section{
	margin-top: -200px;
}

.single-portfolio-title{
	text-align: center;
	font-size: 26px;
    font-weight: 500;
    padding: 20px 30px 15px 30px;
}

.single-portfolio-rating{
	text-align: center;
}

.single-portfolio-desc{
	padding: 20px 50px;
}

.single-portfolio-share{
	text-align: center;
	margin-bottom: 30px;
}

.single-portfolio-share a{
	margin: 5px;
}

.info-content > div{
	padding: 5px 0;
}

.info-content span{
	display: inline-block;
	width: 100px;
	font-weight: 500;
	color: #555555;
}


/* =============================================
	17. Color Scheme Selector
 ============================================= */
.color-scheme-select{
	position: fixed;
	text-align: center;
	top: 200px;
	width: 262px;
	right: -262px;
	padding: 25px;
	background: #ffffff;
	z-index: 11;
	border-top: 3px solid;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.color-scheme-select-visible{
	right: 0 !important;
}

.color-scheme-select-btn{
	position: absolute;
	background: #ffffff;
	top: -3px;
	left: -46px;
	width: 46px;
	height: 46px;
	line-height: 42px;
	font-size: 28px;
	text-align: center;
	border-top: 3px solid;
	cursor: pointer;
	-webkit-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
}

.color-scheme-title{
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.color-scheme-content{
	width: 40px;
	height: 40px;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
	border-radius: 100px;
}
